@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Clínica ACME</h1>
    <p>Em nosso menu de navegação, clique em pacientes para obter mais opções.</p>
</div>
